/* Aside */

aside {
    background-color: var(--black);
    width: var(--aside-width-s);
    overflow-y: hidden;
}

aside .logo-big {
    display: none;
}

aside .text {
    display: none;
}

aside .playlist {
    display: none;
    flex-grow: 1;
    overflow-y: hidden;
    min-height: 250px;
}

aside .playlist .playlist-list {
    flex-grow: 1;
    overflow-y: auto;
}

aside .user {
    margin-top: auto;
}






/* 
----------------
Media Queries
----------------
*/

@media screen and (min-width: 576px) {
    aside {
        width: var(--aside-width-b);
    }

    aside .logo-small {
        display: none;
    }

    aside .logo-big {
        display: initial;
    }

    aside .text {
        display: initial;
    }
    
    aside .playlist{
        display: flex;
    }
}