/* HEADER */

header {
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    height: 5.625rem;
    left: 3.125rem;
    right: 0;
    top: 0;
    background-color: var(--header-background);
    z-index: 200;
}


/* Media Queries */

@media screen and (min-width:552px) {
    header {
        left: 14.375rem;
    }
}