/* Utilities */

.flex {
    display: flex;
}

.justify-end {
    justify-content: flex-end;
}

.align-center {
    align-items: center;
}

.dir-col {
    flex-direction: column;
}

.space-between {
    justify-content: space-between;
}

.justify-center {
    justify-content: center;
}

.hover {
    cursor: pointer;
    opacity: 0.7;
    transition: all .4s ease-in-out;
}

.hover:hover {
    opacity: 1;
}

.underline:hover {
    text-decoration: underline;
    cursor: pointer;
}

.highlited::after{
    content: '';
    display: block;
    width: 30%;
    height: 100%;
    border-bottom: 3px solid var(--aside-hover-border);
    margin: auto;
}

.expand {
    transition: all .4s ease-in-out;
    cursor: pointer;
}

.expand:hover {
    font-size: 1.1em;
}