:root {
    --black: #000;
    --footer-background: #282828;
    --main-background: #141922;
    --header-background: rgb(8, 11, 18, 0.9);
    --footer-heigth: 90px;
    --aside-width-s: 50px;
    --aside-width-b: 230px;
}