:root {
    --black: #000;
    --footer-background: #282828;
    --main-background: #141922;
    --aside-hover-border: #adff2f;
    --header-background: rgb(8, 11, 18, 0.9);
    --footer-heigth: 5.625rem;
    --aside-width-s: 3.125rem;
    --aside-width-b: 14.375rem;
    --aside-elemens-padding: 1.25rem;
}